<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lishuaihua.imageselector">

    <application>
        <provider
            android:name=".provider.ImageSelectorProvider"
            android:authorities="${applicationId}.imageSelectorProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/image_selector_file_paths" />
        </provider>
        <activity android:name=".ImageSelectorActivity"/>
        <activity android:name=".PreviewActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"/>
        <activity
            android:name=".ClipImageActivity"
            />
    </application>

</manifest>
